<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.BaseUserrightMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.BaseUserright" >
    <id column="UserRight_ID" property="userrightId" jdbcType="NVARCHAR" />
    <result column="User_ID" property="userId" jdbcType="NVARCHAR" />
    <result column="Menu_Id" property="menuId" jdbcType="NVARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="CreateUserId" property="createuserid" jdbcType="NVARCHAR" />
    <result column="CreateUserName" property="createusername" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserRight_ID, User_ID, Menu_Id, CreateDate, CreateUserId, CreateUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_userright
    where UserRight_ID = #{userrightId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_userright
    where UserRight_ID = #{userrightId,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.BaseUserright" >
    insert into base_userright (UserRight_ID, User_ID, Menu_Id, 
      CreateDate, CreateUserId, CreateUserName
      )
    values (#{userrightId,jdbcType=NVARCHAR}, #{userId,jdbcType=NVARCHAR}, #{menuId,jdbcType=NVARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{createuserid,jdbcType=NVARCHAR}, #{createusername,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.BaseUserright" >
    insert into base_userright
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userrightId != null" >
        UserRight_ID,
      </if>
      <if test="userId != null" >
        User_ID,
      </if>
      <if test="menuId != null" >
        Menu_Id,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="createuserid != null" >
        CreateUserId,
      </if>
      <if test="createusername != null" >
        CreateUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userrightId != null" >
        #{userrightId,jdbcType=NVARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=NVARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=NVARCHAR},
      </if>
      <if test="createusername != null" >
        #{createusername,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.BaseUserright" >
    update base_userright
    <set >
      <if test="userId != null" >
        User_ID = #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="menuId != null" >
        Menu_Id = #{menuId,jdbcType=NVARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null" >
        CreateUserId = #{createuserid,jdbcType=NVARCHAR},
      </if>
      <if test="createusername != null" >
        CreateUserName = #{createusername,jdbcType=NVARCHAR},
      </if>
    </set>
    where UserRight_ID = #{userrightId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.BaseUserright" >
    update base_userright
    set User_ID = #{userId,jdbcType=NVARCHAR},
      Menu_Id = #{menuId,jdbcType=NVARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      CreateUserId = #{createuserid,jdbcType=NVARCHAR},
      CreateUserName = #{createusername,jdbcType=NVARCHAR}
    where UserRight_ID = #{userrightId,jdbcType=NVARCHAR}
  </update>
</mapper>