<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.BaseAdminuserinfoMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.BaseAdminuserinfo" >
    <id column="User_ID" property="userId" jdbcType="NVARCHAR" />
    <result column="User_Code" property="userCode" jdbcType="NVARCHAR" />
    <result column="User_Account" property="userAccount" jdbcType="NVARCHAR" />
    <result column="User_Pwd" property="userPwd" jdbcType="NVARCHAR" />
    <result column="User_Name" property="userName" jdbcType="NVARCHAR" />
    <result column="Title" property="title" jdbcType="NVARCHAR" />
    <result column="Email" property="email" jdbcType="NVARCHAR" />
    <result column="Question" property="question" jdbcType="NVARCHAR" />
    <result column="AnswerQuestion" property="answerquestion" jdbcType="NVARCHAR" />
    <result column="DeleteMark" property="deletemark" jdbcType="INTEGER" />
    <result column="CreateDate" property="createdate" jdbcType="DATE" />
    <result column="CreateUserId" property="createuserid" jdbcType="NVARCHAR" />
    <result column="CreateUserName" property="createusername" jdbcType="NVARCHAR" />
    <result column="ModifyDate" property="modifydate" jdbcType="DATE" />
    <result column="ModifyUserId" property="modifyuserid" jdbcType="NVARCHAR" />
    <result column="ModifyUserName" property="modifyusername" jdbcType="NVARCHAR" />
    <result column="User_Remark" property="userRemark" jdbcType="NVARCHAR" />
  <collection property="scenicSports" ofType="baseUserScenicspot" resultMap="xyz.flym.carlis.persistence.mapper.BaseUserScenicspotMapper.BaseResultMap">
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    User_ID, User_Code, User_Account, User_Pwd, User_Name, Title, Email, Question, AnswerQuestion, 
    DeleteMark, CreateDate, CreateUserId, CreateUserName, ModifyDate, ModifyUserId, ModifyUserName, 
    User_Remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_adminuserinfo
    where User_ID = #{userId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_adminuserinfo
    where User_ID = #{userId,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.BaseAdminuserinfo" >
    insert into base_adminuserinfo (User_ID, User_Code, User_Account, 
      User_Pwd, User_Name, Title, 
      Email, Question, AnswerQuestion, 
      DeleteMark, CreateDate, CreateUserId, 
      CreateUserName, ModifyDate, ModifyUserId, 
      ModifyUserName, User_Remark)
    values (#{userId,jdbcType=NVARCHAR}, #{userCode,jdbcType=NVARCHAR}, #{userAccount,jdbcType=NVARCHAR}, 
      #{userPwd,jdbcType=NVARCHAR}, #{userName,jdbcType=NVARCHAR}, #{title,jdbcType=NVARCHAR}, 
      #{email,jdbcType=NVARCHAR}, #{question,jdbcType=NVARCHAR}, #{answerquestion,jdbcType=NVARCHAR}, 
      #{deletemark,jdbcType=INTEGER}, #{createdate,jdbcType=DATE}, #{createuserid,jdbcType=NVARCHAR}, 
      #{createusername,jdbcType=NVARCHAR}, #{modifydate,jdbcType=DATE}, #{modifyuserid,jdbcType=NVARCHAR}, 
      #{modifyusername,jdbcType=NVARCHAR}, #{userRemark,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.BaseAdminuserinfo" >
    insert into base_adminuserinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        User_ID,
      </if>
      <if test="userCode != null" >
        User_Code,
      </if>
      <if test="userAccount != null" >
        User_Account,
      </if>
      <if test="userPwd != null" >
        User_Pwd,
      </if>
      <if test="userName != null" >
        User_Name,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="question != null" >
        Question,
      </if>
      <if test="answerquestion != null" >
        AnswerQuestion,
      </if>
      <if test="deletemark != null" >
        DeleteMark,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="createuserid != null" >
        CreateUserId,
      </if>
      <if test="createusername != null" >
        CreateUserName,
      </if>
      <if test="modifydate != null" >
        ModifyDate,
      </if>
      <if test="modifyuserid != null" >
        ModifyUserId,
      </if>
      <if test="modifyusername != null" >
        ModifyUserName,
      </if>
      <if test="userRemark != null" >
        User_Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=NVARCHAR},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=NVARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=NVARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=NVARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=NVARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=NVARCHAR},
      </if>
      <if test="answerquestion != null" >
        #{answerquestion,jdbcType=NVARCHAR},
      </if>
      <if test="deletemark != null" >
        #{deletemark,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=NVARCHAR},
      </if>
      <if test="createusername != null" >
        #{createusername,jdbcType=NVARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=DATE},
      </if>
      <if test="modifyuserid != null" >
        #{modifyuserid,jdbcType=NVARCHAR},
      </if>
      <if test="modifyusername != null" >
        #{modifyusername,jdbcType=NVARCHAR},
      </if>
      <if test="userRemark != null" >
        #{userRemark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.BaseAdminuserinfo" >
    update base_adminuserinfo
    <set >
      <if test="userCode != null" >
        User_Code = #{userCode,jdbcType=NVARCHAR},
      </if>
      <if test="userAccount != null" >
        User_Account = #{userAccount,jdbcType=NVARCHAR},
      </if>
      <if test="userPwd != null" >
        User_Pwd = #{userPwd,jdbcType=NVARCHAR},
      </if>
      <if test="userName != null" >
        User_Name = #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=NVARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=NVARCHAR},
      </if>
      <if test="question != null" >
        Question = #{question,jdbcType=NVARCHAR},
      </if>
      <if test="answerquestion != null" >
        AnswerQuestion = #{answerquestion,jdbcType=NVARCHAR},
      </if>
      <if test="deletemark != null" >
        DeleteMark = #{deletemark,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=DATE},
      </if>
      <if test="createuserid != null" >
        CreateUserId = #{createuserid,jdbcType=NVARCHAR},
      </if>
      <if test="createusername != null" >
        CreateUserName = #{createusername,jdbcType=NVARCHAR},
      </if>
      <if test="modifydate != null" >
        ModifyDate = #{modifydate,jdbcType=DATE},
      </if>
      <if test="modifyuserid != null" >
        ModifyUserId = #{modifyuserid,jdbcType=NVARCHAR},
      </if>
      <if test="modifyusername != null" >
        ModifyUserName = #{modifyusername,jdbcType=NVARCHAR},
      </if>
      <if test="userRemark != null" >
        User_Remark = #{userRemark,jdbcType=NVARCHAR},
      </if>
    </set>
    where User_ID = #{userId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.BaseAdminuserinfo" >
    update base_adminuserinfo
    set User_Code = #{userCode,jdbcType=NVARCHAR},
      User_Account = #{userAccount,jdbcType=NVARCHAR},
      User_Pwd = #{userPwd,jdbcType=NVARCHAR},
      User_Name = #{userName,jdbcType=NVARCHAR},
      Title = #{title,jdbcType=NVARCHAR},
      Email = #{email,jdbcType=NVARCHAR},
      Question = #{question,jdbcType=NVARCHAR},
      AnswerQuestion = #{answerquestion,jdbcType=NVARCHAR},
      DeleteMark = #{deletemark,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=DATE},
      CreateUserId = #{createuserid,jdbcType=NVARCHAR},
      CreateUserName = #{createusername,jdbcType=NVARCHAR},
      ModifyDate = #{modifydate,jdbcType=DATE},
      ModifyUserId = #{modifyuserid,jdbcType=NVARCHAR},
      ModifyUserName = #{modifyusername,jdbcType=NVARCHAR},
      User_Remark = #{userRemark,jdbcType=NVARCHAR}
    where User_ID = #{userId,jdbcType=NVARCHAR}
  </update>
  
  <select id="findBy" resultMap="BaseResultMap" parameterType="baseAdminuserinfo" >
    select 
    <include refid="Base_Column_List" />
    , userid,  scenic_spot_id
    from base_adminuserinfo a left join base_user_scenicspot b on a.User_ID = b.userid
    where a.User_Account = #{userAccount,jdbcType=NVARCHAR}
  </select>
</mapper>