<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.BaseSysloginlogMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.BaseSysloginlog" >
    <result column="SYS_LOGINLOG_ID" property="sysLoginlogId" jdbcType="NVARCHAR" />
    <result column="SYS_LOGINLOG_IP" property="sysLoginlogIp" jdbcType="NVARCHAR" />
    <result column="SYS_LOGINLOG_TIME" property="sysLoginlogTime" jdbcType="TIMESTAMP" />
    <result column="User_Account" property="userAccount" jdbcType="NVARCHAR" />
    <result column="SYS_LOGINLOG_STATUS" property="sysLoginlogStatus" jdbcType="INTEGER" />
    <result column="OWNER_address" property="ownerAddress" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.BaseSysloginlog" >
    insert into base_sysloginlog (SYS_LOGINLOG_ID, SYS_LOGINLOG_IP, SYS_LOGINLOG_TIME, 
      User_Account, SYS_LOGINLOG_STATUS, OWNER_address
      )
    values (#{sysLoginlogId,jdbcType=NVARCHAR}, #{sysLoginlogIp,jdbcType=NVARCHAR}, #{sysLoginlogTime,jdbcType=TIMESTAMP}, 
      #{userAccount,jdbcType=NVARCHAR}, #{sysLoginlogStatus,jdbcType=INTEGER}, #{ownerAddress,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.BaseSysloginlog" >
    insert into base_sysloginlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysLoginlogId != null" >
        SYS_LOGINLOG_ID,
      </if>
      <if test="sysLoginlogIp != null" >
        SYS_LOGINLOG_IP,
      </if>
      <if test="sysLoginlogTime != null" >
        SYS_LOGINLOG_TIME,
      </if>
      <if test="userAccount != null" >
        User_Account,
      </if>
      <if test="sysLoginlogStatus != null" >
        SYS_LOGINLOG_STATUS,
      </if>
      <if test="ownerAddress != null" >
        OWNER_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysLoginlogId != null" >
        #{sysLoginlogId,jdbcType=NVARCHAR},
      </if>
      <if test="sysLoginlogIp != null" >
        #{sysLoginlogIp,jdbcType=NVARCHAR},
      </if>
      <if test="sysLoginlogTime != null" >
        #{sysLoginlogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=NVARCHAR},
      </if>
      <if test="sysLoginlogStatus != null" >
        #{sysLoginlogStatus,jdbcType=INTEGER},
      </if>
      <if test="ownerAddress != null" >
        #{ownerAddress,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>