<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.BaseAdminTokenMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.BaseAdminToken" >
    <id column="userid" property="userid" jdbcType="NVARCHAR" />
    <result column="token" property="token" jdbcType="NCHAR" />
    <result column="refresh_token" property="refreshToken" jdbcType="NCHAR" />
    <result column="expired" property="expired" jdbcType="TIMESTAMP" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, token, refresh_token, expired, created_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_admin_token
    where userid = #{userid,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_admin_token
    where userid = #{userid,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.BaseAdminToken" >
    insert into base_admin_token (userid, token, refresh_token, 
      expired, created_on)
    values (#{userid,jdbcType=NVARCHAR}, #{token,jdbcType=NCHAR}, #{refreshToken,jdbcType=NCHAR}, 
      #{expired,jdbcType=TIMESTAMP}, #{createdOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.BaseAdminToken" >
    insert into base_admin_token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="refreshToken != null" >
        refresh_token,
      </if>
      <if test="expired != null" >
        expired,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=NVARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=NCHAR},
      </if>
      <if test="refreshToken != null" >
        #{refreshToken,jdbcType=NCHAR},
      </if>
      <if test="expired != null" >
        #{expired,jdbcType=TIMESTAMP},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.BaseAdminToken" >
    update base_admin_token
    <set >
      <if test="token != null" >
        token = #{token,jdbcType=NCHAR},
      </if>
      <if test="refreshToken != null" >
        refresh_token = #{refreshToken,jdbcType=NCHAR},
      </if>
      <if test="expired != null" >
        expired = #{expired,jdbcType=TIMESTAMP},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userid = #{userid,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.BaseAdminToken" >
    update base_admin_token
    set token = #{token,jdbcType=NCHAR},
      refresh_token = #{refreshToken,jdbcType=NCHAR},
      expired = #{expired,jdbcType=TIMESTAMP},
      created_on = #{createdOn,jdbcType=TIMESTAMP}
    where userid = #{userid,jdbcType=NVARCHAR}
  </update>
</mapper>