<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.BaseRolesMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.BaseRoles" >
    <id column="Roles_ID" property="rolesId" jdbcType="NVARCHAR" />
    <result column="ParentId" property="parentid" jdbcType="NVARCHAR" />
    <result column="Roles_Name" property="rolesName" jdbcType="NVARCHAR" />
    <result column="Role_Restriction" property="roleRestriction" jdbcType="NVARCHAR" />
    <result column="Roles_Remark" property="rolesRemark" jdbcType="NVARCHAR" />
    <result column="AllowEdit" property="allowedit" jdbcType="INTEGER" />
    <result column="AllowDelete" property="allowdelete" jdbcType="INTEGER" />
    <result column="SortCode" property="sortcode" jdbcType="INTEGER" />
    <result column="DeleteMark" property="deletemark" jdbcType="INTEGER" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="CreateUserId" property="createuserid" jdbcType="NVARCHAR" />
    <result column="CreateUserName" property="createusername" jdbcType="NVARCHAR" />
    <result column="ModifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="ModifyUserId" property="modifyuserid" jdbcType="NVARCHAR" />
    <result column="ModifyUserName" property="modifyusername" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Roles_ID, ParentId, Roles_Name, Role_Restriction, Roles_Remark, AllowEdit, AllowDelete, 
    SortCode, DeleteMark, CreateDate, CreateUserId, CreateUserName, ModifyDate, ModifyUserId, 
    ModifyUserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_roles
    where Roles_ID = #{rolesId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_roles
    where Roles_ID = #{rolesId,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.BaseRoles" >
    insert into base_roles (Roles_ID, ParentId, Roles_Name, 
      Role_Restriction, Roles_Remark, AllowEdit, 
      AllowDelete, SortCode, DeleteMark, 
      CreateDate, CreateUserId, CreateUserName, 
      ModifyDate, ModifyUserId, ModifyUserName
      )
    values (#{rolesId,jdbcType=NVARCHAR}, #{parentid,jdbcType=NVARCHAR}, #{rolesName,jdbcType=NVARCHAR}, 
      #{roleRestriction,jdbcType=NVARCHAR}, #{rolesRemark,jdbcType=NVARCHAR}, #{allowedit,jdbcType=INTEGER}, 
      #{allowdelete,jdbcType=INTEGER}, #{sortcode,jdbcType=INTEGER}, #{deletemark,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP}, #{createuserid,jdbcType=NVARCHAR}, #{createusername,jdbcType=NVARCHAR}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{modifyuserid,jdbcType=NVARCHAR}, #{modifyusername,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.BaseRoles" >
    insert into base_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolesId != null" >
        Roles_ID,
      </if>
      <if test="parentid != null" >
        ParentId,
      </if>
      <if test="rolesName != null" >
        Roles_Name,
      </if>
      <if test="roleRestriction != null" >
        Role_Restriction,
      </if>
      <if test="rolesRemark != null" >
        Roles_Remark,
      </if>
      <if test="allowedit != null" >
        AllowEdit,
      </if>
      <if test="allowdelete != null" >
        AllowDelete,
      </if>
      <if test="sortcode != null" >
        SortCode,
      </if>
      <if test="deletemark != null" >
        DeleteMark,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="createuserid != null" >
        CreateUserId,
      </if>
      <if test="createusername != null" >
        CreateUserName,
      </if>
      <if test="modifydate != null" >
        ModifyDate,
      </if>
      <if test="modifyuserid != null" >
        ModifyUserId,
      </if>
      <if test="modifyusername != null" >
        ModifyUserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolesId != null" >
        #{rolesId,jdbcType=NVARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=NVARCHAR},
      </if>
      <if test="rolesName != null" >
        #{rolesName,jdbcType=NVARCHAR},
      </if>
      <if test="roleRestriction != null" >
        #{roleRestriction,jdbcType=NVARCHAR},
      </if>
      <if test="rolesRemark != null" >
        #{rolesRemark,jdbcType=NVARCHAR},
      </if>
      <if test="allowedit != null" >
        #{allowedit,jdbcType=INTEGER},
      </if>
      <if test="allowdelete != null" >
        #{allowdelete,jdbcType=INTEGER},
      </if>
      <if test="sortcode != null" >
        #{sortcode,jdbcType=INTEGER},
      </if>
      <if test="deletemark != null" >
        #{deletemark,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=NVARCHAR},
      </if>
      <if test="createusername != null" >
        #{createusername,jdbcType=NVARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuserid != null" >
        #{modifyuserid,jdbcType=NVARCHAR},
      </if>
      <if test="modifyusername != null" >
        #{modifyusername,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.BaseRoles" >
    update base_roles
    <set >
      <if test="parentid != null" >
        ParentId = #{parentid,jdbcType=NVARCHAR},
      </if>
      <if test="rolesName != null" >
        Roles_Name = #{rolesName,jdbcType=NVARCHAR},
      </if>
      <if test="roleRestriction != null" >
        Role_Restriction = #{roleRestriction,jdbcType=NVARCHAR},
      </if>
      <if test="rolesRemark != null" >
        Roles_Remark = #{rolesRemark,jdbcType=NVARCHAR},
      </if>
      <if test="allowedit != null" >
        AllowEdit = #{allowedit,jdbcType=INTEGER},
      </if>
      <if test="allowdelete != null" >
        AllowDelete = #{allowdelete,jdbcType=INTEGER},
      </if>
      <if test="sortcode != null" >
        SortCode = #{sortcode,jdbcType=INTEGER},
      </if>
      <if test="deletemark != null" >
        DeleteMark = #{deletemark,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null" >
        CreateUserId = #{createuserid,jdbcType=NVARCHAR},
      </if>
      <if test="createusername != null" >
        CreateUserName = #{createusername,jdbcType=NVARCHAR},
      </if>
      <if test="modifydate != null" >
        ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuserid != null" >
        ModifyUserId = #{modifyuserid,jdbcType=NVARCHAR},
      </if>
      <if test="modifyusername != null" >
        ModifyUserName = #{modifyusername,jdbcType=NVARCHAR},
      </if>
    </set>
    where Roles_ID = #{rolesId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.BaseRoles" >
    update base_roles
    set ParentId = #{parentid,jdbcType=NVARCHAR},
      Roles_Name = #{rolesName,jdbcType=NVARCHAR},
      Role_Restriction = #{roleRestriction,jdbcType=NVARCHAR},
      Roles_Remark = #{rolesRemark,jdbcType=NVARCHAR},
      AllowEdit = #{allowedit,jdbcType=INTEGER},
      AllowDelete = #{allowdelete,jdbcType=INTEGER},
      SortCode = #{sortcode,jdbcType=INTEGER},
      DeleteMark = #{deletemark,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      CreateUserId = #{createuserid,jdbcType=NVARCHAR},
      CreateUserName = #{createusername,jdbcType=NVARCHAR},
      ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
      ModifyUserId = #{modifyuserid,jdbcType=NVARCHAR},
      ModifyUserName = #{modifyusername,jdbcType=NVARCHAR}
    where Roles_ID = #{rolesId,jdbcType=NVARCHAR}
  </update>
</mapper>