<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.CitySpecialRecommendationMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.CitySpecialRecommendation" >
    <id column="city_special_recommendation_id" property="citySpecialRecommendationId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="NVARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
    <result column="start_level" property="startLevel" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_special_recommendation_id, city_id, name, name_en, pic, price, description, 
    type, created_on, modified_on, start_level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city_special_recommendation
    where city_special_recommendation_id = #{citySpecialRecommendationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city_special_recommendation
    where city_special_recommendation_id = #{citySpecialRecommendationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.CitySpecialRecommendation" >
    insert into city_special_recommendation (city_special_recommendation_id, city_id, 
      name, name_en, pic, 
      price, description, type, 
      created_on, modified_on, start_level
      )
    values (#{citySpecialRecommendationId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{name,jdbcType=NVARCHAR}, #{nameEn,jdbcType=VARCHAR}, #{pic,jdbcType=NVARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{description,jdbcType=NVARCHAR}, #{type,jdbcType=INTEGER}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}, #{startLevel,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.CitySpecialRecommendation" >
    insert into city_special_recommendation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="citySpecialRecommendationId != null" >
        city_special_recommendation_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
      <if test="startLevel != null" >
        start_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="citySpecialRecommendationId != null" >
        #{citySpecialRecommendationId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="startLevel != null" >
        #{startLevel,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.CitySpecialRecommendation" >
    update city_special_recommendation
    <set >
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="startLevel != null" >
        start_level = #{startLevel,jdbcType=DOUBLE},
      </if>
    </set>
    where city_special_recommendation_id = #{citySpecialRecommendationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.CitySpecialRecommendation" >
    update city_special_recommendation
    set city_id = #{cityId,jdbcType=INTEGER},
      name = #{name,jdbcType=NVARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=NVARCHAR},
      price = #{price,jdbcType=DOUBLE},
      description = #{description,jdbcType=NVARCHAR},
      type = #{type,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      start_level = #{startLevel,jdbcType=DOUBLE}
    where city_special_recommendation_id = #{citySpecialRecommendationId,jdbcType=INTEGER}
  </update>
</mapper>