<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.City" >
    <id column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="temperature" property="temperature" jdbcType="NVARCHAR" />
    <result column="img_cover" property="imgCover" jdbcType="NVARCHAR" />
    <result column="img_search" property="imgSearch" jdbcType="NVARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="NVARCHAR" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="history" property="history" jdbcType="NVARCHAR" />
    <result column="recommended_play_season" property="recommendedPlaySeason" jdbcType="NVARCHAR" />
    <result column="localtranspot" property="localtranspot" jdbcType="NVARCHAR" />
    <result column="citytranspot" property="citytranspot" jdbcType="NVARCHAR" />
    <result column="createuserid" property="createuserid" jdbcType="NVARCHAR" />
    <result column="createusername" property="createusername" jdbcType="NVARCHAR" />
    <result column="modifyuserid" property="modifyuserid" jdbcType="NVARCHAR" />
    <result column="modifyusername" property="modifyusername" jdbcType="NVARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
    <result column="is_hot_search" property="isHotSearch" jdbcType="BIT" />
    <result column="img_hot_search" property="imgHotSearch" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_id, region_id, temperature, img_cover, img_search, thumbnail_path, description, 
    history, recommended_play_season, localtranspot, citytranspot, createuserid, createusername, 
    modifyuserid, modifyusername, created_on, modified_on, is_hot_search, img_hot_search
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.City" >
    insert into city (city_id, region_id, temperature, 
      img_cover, img_search, thumbnail_path, 
      description, history, recommended_play_season, 
      localtranspot, citytranspot, createuserid, 
      createusername, modifyuserid, modifyusername, 
      created_on, modified_on, is_hot_search, 
      img_hot_search)
    values (#{cityId,jdbcType=INTEGER}, #{regionId,jdbcType=INTEGER}, #{temperature,jdbcType=NVARCHAR}, 
      #{imgCover,jdbcType=NVARCHAR}, #{imgSearch,jdbcType=NVARCHAR}, #{thumbnailPath,jdbcType=NVARCHAR}, 
      #{description,jdbcType=NVARCHAR}, #{history,jdbcType=NVARCHAR}, #{recommendedPlaySeason,jdbcType=NVARCHAR}, 
      #{localtranspot,jdbcType=NVARCHAR}, #{citytranspot,jdbcType=NVARCHAR}, #{createuserid,jdbcType=NVARCHAR}, 
      #{createusername,jdbcType=NVARCHAR}, #{modifyuserid,jdbcType=NVARCHAR}, #{modifyusername,jdbcType=NVARCHAR}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}, #{isHotSearch,jdbcType=BIT}, 
      #{imgHotSearch,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.City" >
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
      <if test="imgCover != null" >
        img_cover,
      </if>
      <if test="imgSearch != null" >
        img_search,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="history != null" >
        history,
      </if>
      <if test="recommendedPlaySeason != null" >
        recommended_play_season,
      </if>
      <if test="localtranspot != null" >
        localtranspot,
      </if>
      <if test="citytranspot != null" >
        citytranspot,
      </if>
      <if test="createuserid != null" >
        createuserid,
      </if>
      <if test="createusername != null" >
        createusername,
      </if>
      <if test="modifyuserid != null" >
        modifyuserid,
      </if>
      <if test="modifyusername != null" >
        modifyusername,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
      <if test="isHotSearch != null" >
        is_hot_search,
      </if>
      <if test="imgHotSearch != null" >
        img_hot_search,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=NVARCHAR},
      </if>
      <if test="imgCover != null" >
        #{imgCover,jdbcType=NVARCHAR},
      </if>
      <if test="imgSearch != null" >
        #{imgSearch,jdbcType=NVARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=NVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="history != null" >
        #{history,jdbcType=NVARCHAR},
      </if>
      <if test="recommendedPlaySeason != null" >
        #{recommendedPlaySeason,jdbcType=NVARCHAR},
      </if>
      <if test="localtranspot != null" >
        #{localtranspot,jdbcType=NVARCHAR},
      </if>
      <if test="citytranspot != null" >
        #{citytranspot,jdbcType=NVARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=NVARCHAR},
      </if>
      <if test="createusername != null" >
        #{createusername,jdbcType=NVARCHAR},
      </if>
      <if test="modifyuserid != null" >
        #{modifyuserid,jdbcType=NVARCHAR},
      </if>
      <if test="modifyusername != null" >
        #{modifyusername,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="isHotSearch != null" >
        #{isHotSearch,jdbcType=BIT},
      </if>
      <if test="imgHotSearch != null" >
        #{imgHotSearch,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.City" >
    update city
    <set >
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="temperature != null" >
        temperature = #{temperature,jdbcType=NVARCHAR},
      </if>
      <if test="imgCover != null" >
        img_cover = #{imgCover,jdbcType=NVARCHAR},
      </if>
      <if test="imgSearch != null" >
        img_search = #{imgSearch,jdbcType=NVARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=NVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="history != null" >
        history = #{history,jdbcType=NVARCHAR},
      </if>
      <if test="recommendedPlaySeason != null" >
        recommended_play_season = #{recommendedPlaySeason,jdbcType=NVARCHAR},
      </if>
      <if test="localtranspot != null" >
        localtranspot = #{localtranspot,jdbcType=NVARCHAR},
      </if>
      <if test="citytranspot != null" >
        citytranspot = #{citytranspot,jdbcType=NVARCHAR},
      </if>
      <if test="createuserid != null" >
        createuserid = #{createuserid,jdbcType=NVARCHAR},
      </if>
      <if test="createusername != null" >
        createusername = #{createusername,jdbcType=NVARCHAR},
      </if>
      <if test="modifyuserid != null" >
        modifyuserid = #{modifyuserid,jdbcType=NVARCHAR},
      </if>
      <if test="modifyusername != null" >
        modifyusername = #{modifyusername,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="isHotSearch != null" >
        is_hot_search = #{isHotSearch,jdbcType=BIT},
      </if>
      <if test="imgHotSearch != null" >
        img_hot_search = #{imgHotSearch,jdbcType=VARCHAR},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.City" >
    update city
    set region_id = #{regionId,jdbcType=INTEGER},
      temperature = #{temperature,jdbcType=NVARCHAR},
      img_cover = #{imgCover,jdbcType=NVARCHAR},
      img_search = #{imgSearch,jdbcType=NVARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=NVARCHAR},
      description = #{description,jdbcType=NVARCHAR},
      history = #{history,jdbcType=NVARCHAR},
      recommended_play_season = #{recommendedPlaySeason,jdbcType=NVARCHAR},
      localtranspot = #{localtranspot,jdbcType=NVARCHAR},
      citytranspot = #{citytranspot,jdbcType=NVARCHAR},
      createuserid = #{createuserid,jdbcType=NVARCHAR},
      createusername = #{createusername,jdbcType=NVARCHAR},
      modifyuserid = #{modifyuserid,jdbcType=NVARCHAR},
      modifyusername = #{modifyusername,jdbcType=NVARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      is_hot_search = #{isHotSearch,jdbcType=BIT},
      img_hot_search = #{imgHotSearch,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
</mapper>