<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.CityImagesMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.CityImages" >
    <id column="city_images_id" property="cityImagesId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="source_img_path" property="sourceImgPath" jdbcType="VARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_images_id, city_id, name, source_img_path, thumbnail_path, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city_images
    where city_images_id = #{cityImagesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city_images
    where city_images_id = #{cityImagesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.CityImages" >
    insert into city_images (city_images_id, city_id, name, 
      source_img_path, thumbnail_path, created_on, 
      modified_on)
    values (#{cityImagesId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, 
      #{sourceImgPath,jdbcType=VARCHAR}, #{thumbnailPath,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.CityImages" >
    insert into city_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityImagesId != null" >
        city_images_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sourceImgPath != null" >
        source_img_path,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityImagesId != null" >
        #{cityImagesId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="sourceImgPath != null" >
        #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.CityImages" >
    update city_images
    <set >
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="sourceImgPath != null" >
        source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where city_images_id = #{cityImagesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.CityImages" >
    update city_images
    set city_id = #{cityId,jdbcType=INTEGER},
      name = #{name,jdbcType=NVARCHAR},
      source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where city_images_id = #{cityImagesId,jdbcType=INTEGER}
  </update>
</mapper>