<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.CountyMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.County" >
    <id column="county_id" property="countyId" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="history" property="history" jdbcType="NVARCHAR" />
    <result column="tourist_season" property="touristSeason" jdbcType="NVARCHAR" />
    <result column="warm_prompt" property="warmPrompt" jdbcType="NVARCHAR" />
    <result column="temperature" property="temperature" jdbcType="VARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="VARCHAR" />
    <result column="point_x" property="pointX" jdbcType="DECIMAL" />
    <result column="point_y" property="pointY" jdbcType="DECIMAL" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    county_id, region_id, description, history, tourist_season, warm_prompt, temperature, 
    thumbnail_path, point_x, point_y, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from county
    where county_id = #{countyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from county
    where county_id = #{countyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.County" >
    insert into county (county_id, region_id, description, 
      history, tourist_season, warm_prompt, 
      temperature, thumbnail_path, point_x, 
      point_y, created_on, modified_on
      )
    values (#{countyId,jdbcType=INTEGER}, #{regionId,jdbcType=INTEGER}, #{description,jdbcType=NVARCHAR}, 
      #{history,jdbcType=NVARCHAR}, #{touristSeason,jdbcType=NVARCHAR}, #{warmPrompt,jdbcType=NVARCHAR}, 
      #{temperature,jdbcType=VARCHAR}, #{thumbnailPath,jdbcType=VARCHAR}, #{pointX,jdbcType=DECIMAL}, 
      #{pointY,jdbcType=DECIMAL}, #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.County" >
    insert into county
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="history != null" >
        history,
      </if>
      <if test="touristSeason != null" >
        tourist_season,
      </if>
      <if test="warmPrompt != null" >
        warm_prompt,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="pointX != null" >
        point_x,
      </if>
      <if test="pointY != null" >
        point_y,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="countyId != null" >
        #{countyId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="history != null" >
        #{history,jdbcType=NVARCHAR},
      </if>
      <if test="touristSeason != null" >
        #{touristSeason,jdbcType=NVARCHAR},
      </if>
      <if test="warmPrompt != null" >
        #{warmPrompt,jdbcType=NVARCHAR},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="pointX != null" >
        #{pointX,jdbcType=DECIMAL},
      </if>
      <if test="pointY != null" >
        #{pointY,jdbcType=DECIMAL},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.County" >
    update county
    <set >
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="history != null" >
        history = #{history,jdbcType=NVARCHAR},
      </if>
      <if test="touristSeason != null" >
        tourist_season = #{touristSeason,jdbcType=NVARCHAR},
      </if>
      <if test="warmPrompt != null" >
        warm_prompt = #{warmPrompt,jdbcType=NVARCHAR},
      </if>
      <if test="temperature != null" >
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="pointX != null" >
        point_x = #{pointX,jdbcType=DECIMAL},
      </if>
      <if test="pointY != null" >
        point_y = #{pointY,jdbcType=DECIMAL},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where county_id = #{countyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.County" >
    update county
    set region_id = #{regionId,jdbcType=INTEGER},
      description = #{description,jdbcType=NVARCHAR},
      history = #{history,jdbcType=NVARCHAR},
      tourist_season = #{touristSeason,jdbcType=NVARCHAR},
      warm_prompt = #{warmPrompt,jdbcType=NVARCHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      point_x = #{pointX,jdbcType=DECIMAL},
      point_y = #{pointY,jdbcType=DECIMAL},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where county_id = #{countyId,jdbcType=INTEGER}
  </update>
</mapper>