<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.DishesMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.Dishes" >
    <id column="dishes_id" property="dishesId" jdbcType="INTEGER" />
    <result column="restaurant_id" property="restaurantId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="price_unit" property="priceUnit" jdbcType="NVARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    dishes_id, restaurant_id, name, name_en, price, price_unit, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dishes
    where dishes_id = #{dishesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dishes
    where dishes_id = #{dishesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.Dishes" >
    insert into dishes (dishes_id, restaurant_id, name, 
      name_en, price, price_unit, 
      created_on, modified_on)
    values (#{dishesId,jdbcType=INTEGER}, #{restaurantId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, 
      #{nameEn,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{priceUnit,jdbcType=NVARCHAR}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.Dishes" >
    insert into dishes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dishesId != null" >
        dishes_id,
      </if>
      <if test="restaurantId != null" >
        restaurant_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="priceUnit != null" >
        price_unit,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dishesId != null" >
        #{dishesId,jdbcType=INTEGER},
      </if>
      <if test="restaurantId != null" >
        #{restaurantId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.Dishes" >
    update dishes
    <set >
      <if test="restaurantId != null" >
        restaurant_id = #{restaurantId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="priceUnit != null" >
        price_unit = #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dishes_id = #{dishesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.Dishes" >
    update dishes
    set restaurant_id = #{restaurantId,jdbcType=INTEGER},
      name = #{name,jdbcType=NVARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      price_unit = #{priceUnit,jdbcType=NVARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where dishes_id = #{dishesId,jdbcType=INTEGER}
  </update>
</mapper>