<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.DishesImagesMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.DishesImages" >
    <id column="dishes_images_id" property="dishesImagesId" jdbcType="INTEGER" />
    <result column="dishes_id" property="dishesId" jdbcType="INTEGER" />
    <result column="source_img_path" property="sourceImgPath" jdbcType="VARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    dishes_images_id, dishes_id, source_img_path, thumbnail_path, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dishes_images
    where dishes_images_id = #{dishesImagesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dishes_images
    where dishes_images_id = #{dishesImagesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.DishesImages" >
    insert into dishes_images (dishes_images_id, dishes_id, source_img_path, 
      thumbnail_path, created_on, modified_on
      )
    values (#{dishesImagesId,jdbcType=INTEGER}, #{dishesId,jdbcType=INTEGER}, #{sourceImgPath,jdbcType=VARCHAR}, 
      #{thumbnailPath,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.DishesImages" >
    insert into dishes_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dishesImagesId != null" >
        dishes_images_id,
      </if>
      <if test="dishesId != null" >
        dishes_id,
      </if>
      <if test="sourceImgPath != null" >
        source_img_path,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dishesImagesId != null" >
        #{dishesImagesId,jdbcType=INTEGER},
      </if>
      <if test="dishesId != null" >
        #{dishesId,jdbcType=INTEGER},
      </if>
      <if test="sourceImgPath != null" >
        #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.DishesImages" >
    update dishes_images
    <set >
      <if test="dishesId != null" >
        dishes_id = #{dishesId,jdbcType=INTEGER},
      </if>
      <if test="sourceImgPath != null" >
        source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dishes_images_id = #{dishesImagesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.DishesImages" >
    update dishes_images
    set dishes_id = #{dishesId,jdbcType=INTEGER},
      source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where dishes_images_id = #{dishesImagesId,jdbcType=INTEGER}
  </update>
</mapper>