<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.EntertainmentMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.Entertainment" >
    <id column="entertainment_id" property="entertainmentId" jdbcType="INTEGER" />
    <result column="scenic_spot_id" property="scenicSpotId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="source_img_path" property="sourceImgPath" jdbcType="VARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="price_unit" property="priceUnit" jdbcType="NVARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    entertainment_id, scenic_spot_id, description, source_img_path, thumbnail_path, name, 
    price, price_unit, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from entertainment
    where entertainment_id = #{entertainmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from entertainment
    where entertainment_id = #{entertainmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.Entertainment" >
    insert into entertainment (entertainment_id, scenic_spot_id, description, 
      source_img_path, thumbnail_path, name, 
      price, price_unit, created_on, 
      modified_on)
    values (#{entertainmentId,jdbcType=INTEGER}, #{scenicSpotId,jdbcType=INTEGER}, #{description,jdbcType=NVARCHAR}, 
      #{sourceImgPath,jdbcType=VARCHAR}, #{thumbnailPath,jdbcType=VARCHAR}, #{name,jdbcType=NVARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{priceUnit,jdbcType=NVARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.Entertainment" >
    insert into entertainment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="entertainmentId != null" >
        entertainment_id,
      </if>
      <if test="scenicSpotId != null" >
        scenic_spot_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="sourceImgPath != null" >
        source_img_path,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="priceUnit != null" >
        price_unit,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="entertainmentId != null" >
        #{entertainmentId,jdbcType=INTEGER},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="sourceImgPath != null" >
        #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.Entertainment" >
    update entertainment
    <set >
      <if test="scenicSpotId != null" >
        scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="sourceImgPath != null" >
        source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="priceUnit != null" >
        price_unit = #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where entertainment_id = #{entertainmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.Entertainment" >
    update entertainment
    set scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      description = #{description,jdbcType=NVARCHAR},
      source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      name = #{name,jdbcType=NVARCHAR},
      price = #{price,jdbcType=DOUBLE},
      price_unit = #{priceUnit,jdbcType=NVARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where entertainment_id = #{entertainmentId,jdbcType=INTEGER}
  </update>
</mapper>