<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.HotelMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.Hotel" >
    <id column="hotel_id" property="hotelId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="start_level" property="startLevel" jdbcType="DOUBLE" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    hotel_id, name, start_level, tel, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hotel
    where hotel_id = #{hotelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hotel
    where hotel_id = #{hotelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.Hotel" >
    insert into hotel (hotel_id, name, start_level, 
      tel, created_on, modified_on
      )
    values (#{hotelId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{startLevel,jdbcType=DOUBLE}, 
      #{tel,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.Hotel" >
    insert into hotel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="startLevel != null" >
        start_level,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hotelId != null" >
        #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="startLevel != null" >
        #{startLevel,jdbcType=DOUBLE},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.Hotel" >
    update hotel
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="startLevel != null" >
        start_level = #{startLevel,jdbcType=DOUBLE},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hotel_id = #{hotelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.Hotel" >
    update hotel
    set name = #{name,jdbcType=NVARCHAR},
      start_level = #{startLevel,jdbcType=DOUBLE},
      tel = #{tel,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where hotel_id = #{hotelId,jdbcType=INTEGER}
  </update>
</mapper>