<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.HotelServiceMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.HotelService" >
    <id column="hotel_service_id" property="hotelServiceId" jdbcType="INTEGER" />
    <result column="hotel_id" property="hotelId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="price_unit" property="priceUnit" jdbcType="NVARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    hotel_service_id, hotel_id, name, price, price_unit, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hotel_service
    where hotel_service_id = #{hotelServiceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hotel_service
    where hotel_service_id = #{hotelServiceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.HotelService" >
    insert into hotel_service (hotel_service_id, hotel_id, name, 
      price, price_unit, created_on, 
      modified_on)
    values (#{hotelServiceId,jdbcType=INTEGER}, #{hotelId,jdbcType=INTEGER}, #{name,jdbcType=NCHAR}, 
      #{price,jdbcType=DOUBLE}, #{priceUnit,jdbcType=NVARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.HotelService" >
    insert into hotel_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hotelServiceId != null" >
        hotel_service_id,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="priceUnit != null" >
        price_unit,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hotelServiceId != null" >
        #{hotelServiceId,jdbcType=INTEGER},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.HotelService" >
    update hotel_service
    <set >
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="priceUnit != null" >
        price_unit = #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hotel_service_id = #{hotelServiceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.HotelService" >
    update hotel_service
    set hotel_id = #{hotelId,jdbcType=INTEGER},
      name = #{name,jdbcType=NCHAR},
      price = #{price,jdbcType=DOUBLE},
      price_unit = #{priceUnit,jdbcType=NVARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where hotel_service_id = #{hotelServiceId,jdbcType=INTEGER}
  </update>
</mapper>