<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.JourneyBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.JourneyBaseInfo" >
    <id column="journey_base_info_id" property="journeyBaseInfoId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="start_from_id" property="startFromId" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    journey_base_info_id, user_id, name, start_from_id, date, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from journey_base_info
    where journey_base_info_id = #{journeyBaseInfoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from journey_base_info
    where journey_base_info_id = #{journeyBaseInfoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.JourneyBaseInfo" >
    insert into journey_base_info (journey_base_info_id, user_id, name, 
      start_from_id, date, created_on, 
      modified_on)
    values (#{journeyBaseInfoId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{name,jdbcType=NVARCHAR}, 
      #{startFromId,jdbcType=BIGINT}, #{date,jdbcType=TIMESTAMP}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.JourneyBaseInfo" >
    insert into journey_base_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="journeyBaseInfoId != null" >
        journey_base_info_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="startFromId != null" >
        start_from_id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="journeyBaseInfoId != null" >
        #{journeyBaseInfoId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="startFromId != null" >
        #{startFromId,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.JourneyBaseInfo" >
    update journey_base_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="startFromId != null" >
        start_from_id = #{startFromId,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where journey_base_info_id = #{journeyBaseInfoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.JourneyBaseInfo" >
    update journey_base_info
    set user_id = #{userId,jdbcType=BIGINT},
      name = #{name,jdbcType=NVARCHAR},
      start_from_id = #{startFromId,jdbcType=BIGINT},
      date = #{date,jdbcType=TIMESTAMP},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where journey_base_info_id = #{journeyBaseInfoId,jdbcType=BIGINT}
  </update>
</mapper>