<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.JourneyInfoMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.JourneyInfo" >
    <id column="journey_info_id" property="journeyInfoId" jdbcType="BIGINT" />
    <result column="journey_base_info_id" property="journeyBaseInfoId" jdbcType="BIGINT" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="county_id" property="countyId" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    journey_info_id, journey_base_info_id, city_id, county_id, time, order_no, created_on, 
    modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from journey_info
    where journey_info_id = #{journeyInfoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from journey_info
    where journey_info_id = #{journeyInfoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.JourneyInfo" >
    insert into journey_info (journey_info_id, journey_base_info_id, city_id, 
      county_id, time, order_no, 
      created_on, modified_on)
    values (#{journeyInfoId,jdbcType=BIGINT}, #{journeyBaseInfoId,jdbcType=BIGINT}, #{cityId,jdbcType=BIGINT}, 
      #{countyId,jdbcType=BIGINT}, #{time,jdbcType=INTEGER}, #{orderNo,jdbcType=INTEGER}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.JourneyInfo" >
    insert into journey_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="journeyInfoId != null" >
        journey_info_id,
      </if>
      <if test="journeyBaseInfoId != null" >
        journey_base_info_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="journeyInfoId != null" >
        #{journeyInfoId,jdbcType=BIGINT},
      </if>
      <if test="journeyBaseInfoId != null" >
        #{journeyBaseInfoId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.JourneyInfo" >
    update journey_info
    <set >
      <if test="journeyBaseInfoId != null" >
        journey_base_info_id = #{journeyBaseInfoId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where journey_info_id = #{journeyInfoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.JourneyInfo" >
    update journey_info
    set journey_base_info_id = #{journeyBaseInfoId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=BIGINT},
      county_id = #{countyId,jdbcType=BIGINT},
      time = #{time,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where journey_info_id = #{journeyInfoId,jdbcType=BIGINT}
  </update>
</mapper>