<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.LandscapeMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.Landscape" >
    <id column="landscape_id" property="landscapeId" jdbcType="INTEGER" />
    <result column="scenic_spot_id" property="scenicSpotId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="name_en" property="nameEn" jdbcType="NVARCHAR" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="VARCHAR" />
    <result column="voice_path" property="voicePath" jdbcType="VARCHAR" />
    <result column="download_path" property="downloadPath" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="DOUBLE" />
    <result column="point_x" property="pointX" jdbcType="DECIMAL" />
    <result column="point_y" property="pointY" jdbcType="DECIMAL" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="is_guide_display" property="isGuideDisplay" jdbcType="BIT" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="bk_img_path" property="bkImgPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    landscape_id, scenic_spot_id, type, name, name_en, description, thumbnail_path, voice_path, 
    download_path, file_size, point_x, point_y, order_no, is_guide_display, created_on, 
    modified_on, status, bk_img_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from landscape
    where landscape_id = #{landscapeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from landscape
    where landscape_id = #{landscapeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.Landscape" >
    insert into landscape (landscape_id, scenic_spot_id, type, 
      name, name_en, description, 
      thumbnail_path, voice_path, download_path, 
      file_size, point_x, point_y, 
      order_no, is_guide_display, created_on, 
      modified_on, status, bk_img_path
      )
    values (#{landscapeId,jdbcType=INTEGER}, #{scenicSpotId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{name,jdbcType=NVARCHAR}, #{nameEn,jdbcType=NVARCHAR}, #{description,jdbcType=NVARCHAR}, 
      #{thumbnailPath,jdbcType=VARCHAR}, #{voicePath,jdbcType=VARCHAR}, #{downloadPath,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=DOUBLE}, #{pointX,jdbcType=DECIMAL}, #{pointY,jdbcType=DECIMAL}, 
      #{orderNo,jdbcType=INTEGER}, #{isGuideDisplay,jdbcType=BIT}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedOn,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}, #{bkImgPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.Landscape" >
    insert into landscape
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="landscapeId != null" >
        landscape_id,
      </if>
      <if test="scenicSpotId != null" >
        scenic_spot_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="voicePath != null" >
        voice_path,
      </if>
      <if test="downloadPath != null" >
        download_path,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="pointX != null" >
        point_x,
      </if>
      <if test="pointY != null" >
        point_y,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="isGuideDisplay != null" >
        is_guide_display,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bkImgPath != null" >
        bk_img_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="landscapeId != null" >
        #{landscapeId,jdbcType=INTEGER},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=NVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="voicePath != null" >
        #{voicePath,jdbcType=VARCHAR},
      </if>
      <if test="downloadPath != null" >
        #{downloadPath,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="pointX != null" >
        #{pointX,jdbcType=DECIMAL},
      </if>
      <if test="pointY != null" >
        #{pointY,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="isGuideDisplay != null" >
        #{isGuideDisplay,jdbcType=BIT},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="bkImgPath != null" >
        #{bkImgPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.Landscape" >
    update landscape
    <set >
      <if test="scenicSpotId != null" >
        scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=NVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="voicePath != null" >
        voice_path = #{voicePath,jdbcType=VARCHAR},
      </if>
      <if test="downloadPath != null" >
        download_path = #{downloadPath,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="pointX != null" >
        point_x = #{pointX,jdbcType=DECIMAL},
      </if>
      <if test="pointY != null" >
        point_y = #{pointY,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="isGuideDisplay != null" >
        is_guide_display = #{isGuideDisplay,jdbcType=BIT},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="bkImgPath != null" >
        bk_img_path = #{bkImgPath,jdbcType=VARCHAR},
      </if>
    </set>
    where landscape_id = #{landscapeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.Landscape" >
    update landscape
    set scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=NVARCHAR},
      name_en = #{nameEn,jdbcType=NVARCHAR},
      description = #{description,jdbcType=NVARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      voice_path = #{voicePath,jdbcType=VARCHAR},
      download_path = #{downloadPath,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      point_x = #{pointX,jdbcType=DECIMAL},
      point_y = #{pointY,jdbcType=DECIMAL},
      order_no = #{orderNo,jdbcType=INTEGER},
      is_guide_display = #{isGuideDisplay,jdbcType=BIT},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT},
      bk_img_path = #{bkImgPath,jdbcType=VARCHAR}
    where landscape_id = #{landscapeId,jdbcType=INTEGER}
  </update>
</mapper>