<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.LandscapeImagesMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.LandscapeImages" >
    <id column="landscape_images_id" property="landscapeImagesId" jdbcType="INTEGER" />
    <result column="landscape_id" property="landscapeId" jdbcType="INTEGER" />
    <result column="source_img_path" property="sourceImgPath" jdbcType="VARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    landscape_images_id, landscape_id, source_img_path, thumbnail_path, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from landscape_images
    where landscape_images_id = #{landscapeImagesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from landscape_images
    where landscape_images_id = #{landscapeImagesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.LandscapeImages" >
    insert into landscape_images (landscape_images_id, landscape_id, source_img_path, 
      thumbnail_path, created_on, modified_on
      )
    values (#{landscapeImagesId,jdbcType=INTEGER}, #{landscapeId,jdbcType=INTEGER}, #{sourceImgPath,jdbcType=VARCHAR}, 
      #{thumbnailPath,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.LandscapeImages" >
    insert into landscape_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="landscapeImagesId != null" >
        landscape_images_id,
      </if>
      <if test="landscapeId != null" >
        landscape_id,
      </if>
      <if test="sourceImgPath != null" >
        source_img_path,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="landscapeImagesId != null" >
        #{landscapeImagesId,jdbcType=INTEGER},
      </if>
      <if test="landscapeId != null" >
        #{landscapeId,jdbcType=INTEGER},
      </if>
      <if test="sourceImgPath != null" >
        #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.LandscapeImages" >
    update landscape_images
    <set >
      <if test="landscapeId != null" >
        landscape_id = #{landscapeId,jdbcType=INTEGER},
      </if>
      <if test="sourceImgPath != null" >
        source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where landscape_images_id = #{landscapeImagesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.LandscapeImages" >
    update landscape_images
    set landscape_id = #{landscapeId,jdbcType=INTEGER},
      source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where landscape_images_id = #{landscapeImagesId,jdbcType=INTEGER}
  </update>
</mapper>