<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.RegionMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.Region" >
    <id column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="region_code" property="regionCode" jdbcType="NVARCHAR" />
    <result column="region_name" property="regionName" jdbcType="NVARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="region_level" property="regionLevel" jdbcType="VARCHAR" />
    <result column="region_order" property="regionOrder" jdbcType="VARCHAR" />
    <result column="region_name_en" property="regionNameEn" jdbcType="VARCHAR" />
    <result column="region_shortname_en" property="regionShortnameEn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    region_id, region_code, region_name, parent_id, region_level, region_order, region_name_en, 
    region_shortname_en
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from region
    where region_id = #{regionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from region
    where region_id = #{regionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.Region" >
    insert into region (region_id, region_code, region_name, 
      parent_id, region_level, region_order, 
      region_name_en, region_shortname_en)
    values (#{regionId,jdbcType=INTEGER}, #{regionCode,jdbcType=NVARCHAR}, #{regionName,jdbcType=NVARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{regionLevel,jdbcType=VARCHAR}, #{regionOrder,jdbcType=VARCHAR}, 
      #{regionNameEn,jdbcType=VARCHAR}, #{regionShortnameEn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.Region" >
    insert into region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="regionCode != null" >
        region_code,
      </if>
      <if test="regionName != null" >
        region_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="regionLevel != null" >
        region_level,
      </if>
      <if test="regionOrder != null" >
        region_order,
      </if>
      <if test="regionNameEn != null" >
        region_name_en,
      </if>
      <if test="regionShortnameEn != null" >
        region_shortname_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=NVARCHAR},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null" >
        #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="regionOrder != null" >
        #{regionOrder,jdbcType=VARCHAR},
      </if>
      <if test="regionNameEn != null" >
        #{regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="regionShortnameEn != null" >
        #{regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.Region" >
    update region
    <set >
      <if test="regionCode != null" >
        region_code = #{regionCode,jdbcType=NVARCHAR},
      </if>
      <if test="regionName != null" >
        region_name = #{regionName,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null" >
        region_level = #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="regionOrder != null" >
        region_order = #{regionOrder,jdbcType=VARCHAR},
      </if>
      <if test="regionNameEn != null" >
        region_name_en = #{regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="regionShortnameEn != null" >
        region_shortname_en = #{regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where region_id = #{regionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.Region" >
    update region
    set region_code = #{regionCode,jdbcType=NVARCHAR},
      region_name = #{regionName,jdbcType=NVARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      region_level = #{regionLevel,jdbcType=VARCHAR},
      region_order = #{regionOrder,jdbcType=VARCHAR},
      region_name_en = #{regionNameEn,jdbcType=VARCHAR},
      region_shortname_en = #{regionShortnameEn,jdbcType=VARCHAR}
    where region_id = #{regionId,jdbcType=INTEGER}
  </update>
</mapper>