<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.RestaurantMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.Restaurant" >
    <id column="restaurant_id" property="restaurantId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="consumption_per_person" property="consumptionPerPerson" jdbcType="INTEGER" />
    <result column="price_unit" property="priceUnit" jdbcType="NVARCHAR" />
    <result column="start_level" property="startLevel" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    restaurant_id, name, consumption_per_person, price_unit, start_level, tel, created_on, 
    modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from restaurant
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from restaurant
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.Restaurant" >
    insert into restaurant (restaurant_id, name, consumption_per_person, 
      price_unit, start_level, tel, 
      created_on, modified_on)
    values (#{restaurantId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{consumptionPerPerson,jdbcType=INTEGER}, 
      #{priceUnit,jdbcType=NVARCHAR}, #{startLevel,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.Restaurant" >
    insert into restaurant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="restaurantId != null" >
        restaurant_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="consumptionPerPerson != null" >
        consumption_per_person,
      </if>
      <if test="priceUnit != null" >
        price_unit,
      </if>
      <if test="startLevel != null" >
        start_level,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="restaurantId != null" >
        #{restaurantId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="consumptionPerPerson != null" >
        #{consumptionPerPerson,jdbcType=INTEGER},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="startLevel != null" >
        #{startLevel,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.Restaurant" >
    update restaurant
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="consumptionPerPerson != null" >
        consumption_per_person = #{consumptionPerPerson,jdbcType=INTEGER},
      </if>
      <if test="priceUnit != null" >
        price_unit = #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="startLevel != null" >
        start_level = #{startLevel,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.Restaurant" >
    update restaurant
    set name = #{name,jdbcType=NVARCHAR},
      consumption_per_person = #{consumptionPerPerson,jdbcType=INTEGER},
      price_unit = #{priceUnit,jdbcType=NVARCHAR},
      start_level = #{startLevel,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </update>
</mapper>