<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.ScenicSpotSosMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.ScenicSpotSos" >
    <id column="scenic_spot_sos_id" property="scenicSpotSosId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sos_type" property="sosType" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="NVARCHAR" />
    <result column="content_type" property="contentType" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="point_x" property="pointX" jdbcType="DECIMAL" />
    <result column="point_y" property="pointY" jdbcType="DECIMAL" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    scenic_spot_sos_id, user_id, sos_type, content, content_type, phone, point_x, point_y, 
    created_on, modified_on, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from scenic_spot_sos
    where scenic_spot_sos_id = #{scenicSpotSosId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from scenic_spot_sos
    where scenic_spot_sos_id = #{scenicSpotSosId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotSos" >
    insert into scenic_spot_sos (scenic_spot_sos_id, user_id, sos_type, 
      content, content_type, phone, 
      point_x, point_y, created_on, 
      modified_on, status)
    values (#{scenicSpotSosId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{sosType,jdbcType=INTEGER}, 
      #{content,jdbcType=NVARCHAR}, #{contentType,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{pointX,jdbcType=DECIMAL}, #{pointY,jdbcType=DECIMAL}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedOn,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotSos" >
    insert into scenic_spot_sos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scenicSpotSosId != null" >
        scenic_spot_sos_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sosType != null" >
        sos_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="contentType != null" >
        content_type,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="pointX != null" >
        point_x,
      </if>
      <if test="pointY != null" >
        point_y,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scenicSpotSosId != null" >
        #{scenicSpotSosId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sosType != null" >
        #{sosType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=NVARCHAR},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pointX != null" >
        #{pointX,jdbcType=DECIMAL},
      </if>
      <if test="pointY != null" >
        #{pointY,jdbcType=DECIMAL},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotSos" >
    update scenic_spot_sos
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sosType != null" >
        sos_type = #{sosType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=NVARCHAR},
      </if>
      <if test="contentType != null" >
        content_type = #{contentType,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pointX != null" >
        point_x = #{pointX,jdbcType=DECIMAL},
      </if>
      <if test="pointY != null" >
        point_y = #{pointY,jdbcType=DECIMAL},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where scenic_spot_sos_id = #{scenicSpotSosId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotSos" >
    update scenic_spot_sos
    set user_id = #{userId,jdbcType=INTEGER},
      sos_type = #{sosType,jdbcType=INTEGER},
      content = #{content,jdbcType=NVARCHAR},
      content_type = #{contentType,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      point_x = #{pointX,jdbcType=DECIMAL},
      point_y = #{pointY,jdbcType=DECIMAL},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where scenic_spot_sos_id = #{scenicSpotSosId,jdbcType=INTEGER}
  </update>
</mapper>