<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.ScenicSpotTicketMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.ScenicSpotTicket" >
    <result column="scenic_spot_ticket_id" property="scenicSpotTicketId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="exchange_way" property="exchangeWay" jdbcType="NVARCHAR" />
    <result column="appointment_time" property="appointmentTime" jdbcType="NVARCHAR" />
    <result column="refund_rules" property="refundRules" jdbcType="NVARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="discount" property="discount" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotTicket" >
    insert into scenic_spot_ticket (scenic_spot_ticket_id, name, name_en, 
      exchange_way, appointment_time, refund_rules, 
      price, discount, created_on, 
      modified_on)
    values (#{scenicSpotTicketId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{nameEn,jdbcType=VARCHAR}, 
      #{exchangeWay,jdbcType=NVARCHAR}, #{appointmentTime,jdbcType=NVARCHAR}, #{refundRules,jdbcType=NVARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{discount,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotTicket" >
    insert into scenic_spot_ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scenicSpotTicketId != null" >
        scenic_spot_ticket_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="exchangeWay != null" >
        exchange_way,
      </if>
      <if test="appointmentTime != null" >
        appointment_time,
      </if>
      <if test="refundRules != null" >
        refund_rules,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scenicSpotTicketId != null" >
        #{scenicSpotTicketId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="exchangeWay != null" >
        #{exchangeWay,jdbcType=NVARCHAR},
      </if>
      <if test="appointmentTime != null" >
        #{appointmentTime,jdbcType=NVARCHAR},
      </if>
      <if test="refundRules != null" >
        #{refundRules,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>