<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.ScenicSpotPointsMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.ScenicSpotPoints" >
    <id column="scenic_spot_points_id" property="scenicSpotPointsId" jdbcType="BIGINT" />
    <result column="scenic_spot_id" property="scenicSpotId" jdbcType="INTEGER" />
    <result column="point_x" property="pointX" jdbcType="DECIMAL" />
    <result column="point_y" property="pointY" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    scenic_spot_points_id, scenic_spot_id, point_x, point_y, type, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from scenic_spot_points
    where scenic_spot_points_id = #{scenicSpotPointsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from scenic_spot_points
    where scenic_spot_points_id = #{scenicSpotPointsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotPoints" >
    insert into scenic_spot_points (scenic_spot_points_id, scenic_spot_id, 
      point_x, point_y, type, 
      created_on, modified_on)
    values (#{scenicSpotPointsId,jdbcType=BIGINT}, #{scenicSpotId,jdbcType=INTEGER}, 
      #{pointX,jdbcType=DECIMAL}, #{pointY,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotPoints" >
    insert into scenic_spot_points
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scenicSpotPointsId != null" >
        scenic_spot_points_id,
      </if>
      <if test="scenicSpotId != null" >
        scenic_spot_id,
      </if>
      <if test="pointX != null" >
        point_x,
      </if>
      <if test="pointY != null" >
        point_y,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scenicSpotPointsId != null" >
        #{scenicSpotPointsId,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="pointX != null" >
        #{pointX,jdbcType=DECIMAL},
      </if>
      <if test="pointY != null" >
        #{pointY,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotPoints" >
    update scenic_spot_points
    <set >
      <if test="scenicSpotId != null" >
        scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="pointX != null" >
        point_x = #{pointX,jdbcType=DECIMAL},
      </if>
      <if test="pointY != null" >
        point_y = #{pointY,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where scenic_spot_points_id = #{scenicSpotPointsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotPoints" >
    update scenic_spot_points
    set scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      point_x = #{pointX,jdbcType=DECIMAL},
      point_y = #{pointY,jdbcType=DECIMAL},
      type = #{type,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where scenic_spot_points_id = #{scenicSpotPointsId,jdbcType=BIGINT}
  </update>
</mapper>