<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.ScenicSpotCommentsMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.ScenicSpotComments" >
    <id column="scenic_spot_comments_id" property="scenicSpotCommentsId" jdbcType="INTEGER" />
    <result column="scenic_spot_id" property="scenicSpotId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="NVARCHAR" />
    <result column="content" property="content" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="praise_count" property="praiseCount" jdbcType="BIGINT" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
    <result column="tread_count" property="treadCount" jdbcType="BIGINT" />
  <association property="usersInfo" column="user_id" javaType="UsersInfo" resultMap="xyz.flym.carlis.persistence.mapper.UsersInfoMapper.BaseResultMap"/>
  </resultMap>
  <sql id="Base_Column_List" >
    scenic_spot_comments_id, scenic_spot_id, title, content, type, praise_count, score, 
    user_id, created_on, modified_on, tread_count
  </sql>
  <sql id="Base_Column_Alias_List" >
    a.scenic_spot_comments_id, a.scenic_spot_id, a.title, a.content, a.type, a.praise_count, a.score, 
    a.user_id, a.created_on, a.modified_on, a.tread_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from scenic_spot_comments
    where scenic_spot_comments_id = #{scenicSpotCommentsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from scenic_spot_comments
    where scenic_spot_comments_id = #{scenicSpotCommentsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotComments" >
    insert into scenic_spot_comments (scenic_spot_comments_id, scenic_spot_id, 
      title, content, type, 
      praise_count, score, user_id, 
      created_on, modified_on, tread_count
      )
    values (#{scenicSpotCommentsId,jdbcType=INTEGER}, #{scenicSpotId,jdbcType=INTEGER}, 
      #{title,jdbcType=NVARCHAR}, #{content,jdbcType=NVARCHAR}, #{type,jdbcType=INTEGER}, 
      #{praiseCount,jdbcType=BIGINT}, #{score,jdbcType=DOUBLE}, #{userId,jdbcType=INTEGER}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}, #{treadCount,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotComments" >
    insert into scenic_spot_comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scenicSpotCommentsId != null" >
        scenic_spot_comments_id,
      </if>
      <if test="scenicSpotId != null" >
        scenic_spot_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="praiseCount != null" >
        praise_count,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
      <if test="treadCount != null" >
        tread_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scenicSpotCommentsId != null" >
        #{scenicSpotCommentsId,jdbcType=INTEGER},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=NVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="praiseCount != null" >
        #{praiseCount,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="treadCount != null" >
        #{treadCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotComments" >
    update scenic_spot_comments
    <set >
      <if test="scenicSpotId != null" >
        scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=NVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="praiseCount != null" >
        praise_count = #{praiseCount,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="treadCount != null" >
        tread_count = #{treadCount,jdbcType=BIGINT},
      </if>
    </set>
    where scenic_spot_comments_id = #{scenicSpotCommentsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotComments" >
    update scenic_spot_comments
    set scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      title = #{title,jdbcType=NVARCHAR},
      content = #{content,jdbcType=NVARCHAR},
      type = #{type,jdbcType=INTEGER},
      praise_count = #{praiseCount,jdbcType=BIGINT},
      score = #{score,jdbcType=DOUBLE},
      user_id = #{userId,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      tread_count = #{treadCount,jdbcType=BIGINT}
    where scenic_spot_comments_id = #{scenicSpotCommentsId,jdbcType=INTEGER}
  </update>
  
  
  <select id="findBy" resultMap="BaseResultMap" parameterType="xyz.flym.carlis.persistence.domain.ScenicSpotComments" >
    select 
    <include refid="Base_Column_Alias_List" />
    , b.head_pic
    from scenic_spot_comments a
    left join users_info b on a.user_id = b.user_id
    where a.scenic_spot_comments_id = #{scenicSpotCommentsId,jdbcType=INTEGER}
    and a.type = #{type,jdbcType=INTEGER}
  </select>
</mapper>