<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.SpecialRecommendationMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.SpecialRecommendation" >
    <id column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="start_level" property="startLevel" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="price_unit" property="priceUnit" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    region_id, name, name_en, start_level, price, price_unit, type, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from special_recommendation
    where region_id = #{regionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from special_recommendation
    where region_id = #{regionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.SpecialRecommendation" >
    insert into special_recommendation (region_id, name, name_en, 
      start_level, price, price_unit, 
      type, created_on, modified_on
      )
    values (#{regionId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{nameEn,jdbcType=VARCHAR}, 
      #{startLevel,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{priceUnit,jdbcType=NVARCHAR}, 
      #{type,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.SpecialRecommendation" >
    insert into special_recommendation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameEn != null" >
        name_en,
      </if>
      <if test="startLevel != null" >
        start_level,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="priceUnit != null" >
        price_unit,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="startLevel != null" >
        #{startLevel,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.SpecialRecommendation" >
    update special_recommendation
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="nameEn != null" >
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="startLevel != null" >
        start_level = #{startLevel,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="priceUnit != null" >
        price_unit = #{priceUnit,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where region_id = #{regionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.SpecialRecommendation" >
    update special_recommendation
    set name = #{name,jdbcType=NVARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR},
      start_level = #{startLevel,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      price_unit = #{priceUnit,jdbcType=NVARCHAR},
      type = #{type,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where region_id = #{regionId,jdbcType=INTEGER}
  </update>
</mapper>