<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.SwimTogetherMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.SwimTogether" >
    <result column="swim_together_id" property="swimTogetherId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="starting_time" property="startingTime" jdbcType="TIMESTAMP" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="carpooling" property="carpooling" jdbcType="BIT" />
    <result column="age_range" property="ageRange" jdbcType="INTEGER" />
    <result column="sex_range" property="sexRange" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="user_loc" property="userLoc" jdbcType="NVARCHAR" />
    <result column="reg_count" property="regCount" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.SwimTogether" >
    insert into swim_together (swim_together_id, user_id, title, 
      type, starting_time, cost, 
      carpooling, age_range, sex_range, 
      description, user_loc, reg_count, 
      created_on, modified_on)
    values (#{swimTogetherId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=NVARCHAR}, 
      #{type,jdbcType=INTEGER}, #{startingTime,jdbcType=TIMESTAMP}, #{cost,jdbcType=DOUBLE}, 
      #{carpooling,jdbcType=BIT}, #{ageRange,jdbcType=INTEGER}, #{sexRange,jdbcType=INTEGER}, 
      #{description,jdbcType=NVARCHAR}, #{userLoc,jdbcType=NVARCHAR}, #{regCount,jdbcType=INTEGER}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.SwimTogether" >
    insert into swim_together
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="swimTogetherId != null" >
        swim_together_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="startingTime != null" >
        starting_time,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="carpooling != null" >
        carpooling,
      </if>
      <if test="ageRange != null" >
        age_range,
      </if>
      <if test="sexRange != null" >
        sex_range,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="userLoc != null" >
        user_loc,
      </if>
      <if test="regCount != null" >
        reg_count,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="swimTogetherId != null" >
        #{swimTogetherId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="startingTime != null" >
        #{startingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="carpooling != null" >
        #{carpooling,jdbcType=BIT},
      </if>
      <if test="ageRange != null" >
        #{ageRange,jdbcType=INTEGER},
      </if>
      <if test="sexRange != null" >
        #{sexRange,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="userLoc != null" >
        #{userLoc,jdbcType=NVARCHAR},
      </if>
      <if test="regCount != null" >
        #{regCount,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>