<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.TravelStrategyTripMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.TravelStrategyTrip" >
    <id column="travel_strategy_trip_id" property="travelStrategyTripId" jdbcType="INTEGER" />
    <result column="travel_strategy_base_id" property="travelStrategyBaseId" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="place" property="place" jdbcType="NVARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="scenic_spot_id" property="scenicSpotId" jdbcType="INTEGER" />
    <result column="scenic_spot_recommended" property="scenicSpotRecommended" jdbcType="NVARCHAR" />
    <result column="food_recommended" property="foodRecommended" jdbcType="NVARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    travel_strategy_trip_id, travel_strategy_base_id, day, place, img_path, scenic_spot_id, 
    scenic_spot_recommended, food_recommended, order_no, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from travel_strategy_trip
    where travel_strategy_trip_id = #{travelStrategyTripId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from travel_strategy_trip
    where travel_strategy_trip_id = #{travelStrategyTripId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.TravelStrategyTrip" >
    insert into travel_strategy_trip (travel_strategy_trip_id, travel_strategy_base_id, 
      day, place, img_path, 
      scenic_spot_id, scenic_spot_recommended, food_recommended, 
      order_no, created_on, modified_on
      )
    values (#{travelStrategyTripId,jdbcType=INTEGER}, #{travelStrategyBaseId,jdbcType=INTEGER}, 
      #{day,jdbcType=INTEGER}, #{place,jdbcType=NVARCHAR}, #{imgPath,jdbcType=VARCHAR}, 
      #{scenicSpotId,jdbcType=INTEGER}, #{scenicSpotRecommended,jdbcType=NVARCHAR}, #{foodRecommended,jdbcType=NVARCHAR}, 
      #{orderNo,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.TravelStrategyTrip" >
    insert into travel_strategy_trip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="travelStrategyTripId != null" >
        travel_strategy_trip_id,
      </if>
      <if test="travelStrategyBaseId != null" >
        travel_strategy_base_id,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="scenicSpotId != null" >
        scenic_spot_id,
      </if>
      <if test="scenicSpotRecommended != null" >
        scenic_spot_recommended,
      </if>
      <if test="foodRecommended != null" >
        food_recommended,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="travelStrategyTripId != null" >
        #{travelStrategyTripId,jdbcType=INTEGER},
      </if>
      <if test="travelStrategyBaseId != null" >
        #{travelStrategyBaseId,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=INTEGER},
      </if>
      <if test="place != null" >
        #{place,jdbcType=NVARCHAR},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="scenicSpotRecommended != null" >
        #{scenicSpotRecommended,jdbcType=NVARCHAR},
      </if>
      <if test="foodRecommended != null" >
        #{foodRecommended,jdbcType=NVARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.TravelStrategyTrip" >
    update travel_strategy_trip
    <set >
      <if test="travelStrategyBaseId != null" >
        travel_strategy_base_id = #{travelStrategyBaseId,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=INTEGER},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=NVARCHAR},
      </if>
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotId != null" >
        scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      </if>
      <if test="scenicSpotRecommended != null" >
        scenic_spot_recommended = #{scenicSpotRecommended,jdbcType=NVARCHAR},
      </if>
      <if test="foodRecommended != null" >
        food_recommended = #{foodRecommended,jdbcType=NVARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where travel_strategy_trip_id = #{travelStrategyTripId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.TravelStrategyTrip" >
    update travel_strategy_trip
    set travel_strategy_base_id = #{travelStrategyBaseId,jdbcType=INTEGER},
      day = #{day,jdbcType=INTEGER},
      place = #{place,jdbcType=NVARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      scenic_spot_id = #{scenicSpotId,jdbcType=INTEGER},
      scenic_spot_recommended = #{scenicSpotRecommended,jdbcType=NVARCHAR},
      food_recommended = #{foodRecommended,jdbcType=NVARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where travel_strategy_trip_id = #{travelStrategyTripId,jdbcType=INTEGER}
  </update>
</mapper>