<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.TravelStrategyBaseMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.TravelStrategyBase" >
    <id column="city_travel_strategy_id" property="cityTravelStrategyId" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="praise_count" property="praiseCount" jdbcType="BIGINT" />
    <result column="advertising_language" property="advertisingLanguage" jdbcType="NVARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_travel_strategy_id, region_id, name, praise_count, advertising_language, img_path, 
    created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from travel_strategy_base
    where city_travel_strategy_id = #{cityTravelStrategyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from travel_strategy_base
    where city_travel_strategy_id = #{cityTravelStrategyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.TravelStrategyBase" >
    insert into travel_strategy_base (city_travel_strategy_id, region_id, name, 
      praise_count, advertising_language, img_path, 
      created_on, modified_on)
    values (#{cityTravelStrategyId,jdbcType=INTEGER}, #{regionId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, 
      #{praiseCount,jdbcType=BIGINT}, #{advertisingLanguage,jdbcType=NVARCHAR}, #{imgPath,jdbcType=VARCHAR}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.TravelStrategyBase" >
    insert into travel_strategy_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityTravelStrategyId != null" >
        city_travel_strategy_id,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="praiseCount != null" >
        praise_count,
      </if>
      <if test="advertisingLanguage != null" >
        advertising_language,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityTravelStrategyId != null" >
        #{cityTravelStrategyId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="praiseCount != null" >
        #{praiseCount,jdbcType=BIGINT},
      </if>
      <if test="advertisingLanguage != null" >
        #{advertisingLanguage,jdbcType=NVARCHAR},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.TravelStrategyBase" >
    update travel_strategy_base
    <set >
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="praiseCount != null" >
        praise_count = #{praiseCount,jdbcType=BIGINT},
      </if>
      <if test="advertisingLanguage != null" >
        advertising_language = #{advertisingLanguage,jdbcType=NVARCHAR},
      </if>
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where city_travel_strategy_id = #{cityTravelStrategyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.TravelStrategyBase" >
    update travel_strategy_base
    set region_id = #{regionId,jdbcType=INTEGER},
      name = #{name,jdbcType=NVARCHAR},
      praise_count = #{praiseCount,jdbcType=BIGINT},
      advertising_language = #{advertisingLanguage,jdbcType=NVARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where city_travel_strategy_id = #{cityTravelStrategyId,jdbcType=INTEGER}
  </update>
</mapper>