<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.UserPhotoAlbumMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.UserPhotoAlbum" >
    <id column="user_photo_album_id" property="userPhotoAlbumId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_photo_album_id, user_id, name, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_photo_album
    where user_photo_album_id = #{userPhotoAlbumId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_photo_album
    where user_photo_album_id = #{userPhotoAlbumId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.UserPhotoAlbum" >
    insert into user_photo_album (user_photo_album_id, user_id, name, 
      created_on, modified_on)
    values (#{userPhotoAlbumId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.UserPhotoAlbum" >
    insert into user_photo_album
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userPhotoAlbumId != null" >
        user_photo_album_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userPhotoAlbumId != null" >
        #{userPhotoAlbumId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.UserPhotoAlbum" >
    update user_photo_album
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_photo_album_id = #{userPhotoAlbumId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.UserPhotoAlbum" >
    update user_photo_album
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=NVARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where user_photo_album_id = #{userPhotoAlbumId,jdbcType=BIGINT}
  </update>
</mapper>