<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.flym.carlis.persistence.mapper.UserPhotoAlbumImagesMapper" >
  <resultMap id="BaseResultMap" type="xyz.flym.carlis.persistence.domain.UserPhotoAlbumImages" >
    <id column="user_photo_album_images_id" property="userPhotoAlbumImagesId" jdbcType="BIGINT" />
    <result column="user_photo_album_id" property="userPhotoAlbumId" jdbcType="INTEGER" />
    <result column="source_img_path" property="sourceImgPath" jdbcType="VARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="VARCHAR" />
    <result column="list_img_path" property="listImgPath" jdbcType="VARCHAR" />
    <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
    <result column="modified_on" property="modifiedOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_photo_album_images_id, user_photo_album_id, source_img_path, thumbnail_path, 
    list_img_path, created_on, modified_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_photo_album_images
    where user_photo_album_images_id = #{userPhotoAlbumImagesId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_photo_album_images
    where user_photo_album_images_id = #{userPhotoAlbumImagesId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.flym.carlis.persistence.domain.UserPhotoAlbumImages" >
    insert into user_photo_album_images (user_photo_album_images_id, user_photo_album_id, 
      source_img_path, thumbnail_path, list_img_path, 
      created_on, modified_on)
    values (#{userPhotoAlbumImagesId,jdbcType=BIGINT}, #{userPhotoAlbumId,jdbcType=INTEGER}, 
      #{sourceImgPath,jdbcType=VARCHAR}, #{thumbnailPath,jdbcType=VARCHAR}, #{listImgPath,jdbcType=VARCHAR}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{modifiedOn,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.flym.carlis.persistence.domain.UserPhotoAlbumImages" >
    insert into user_photo_album_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userPhotoAlbumImagesId != null" >
        user_photo_album_images_id,
      </if>
      <if test="userPhotoAlbumId != null" >
        user_photo_album_id,
      </if>
      <if test="sourceImgPath != null" >
        source_img_path,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="listImgPath != null" >
        list_img_path,
      </if>
      <if test="createdOn != null" >
        created_on,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userPhotoAlbumImagesId != null" >
        #{userPhotoAlbumImagesId,jdbcType=BIGINT},
      </if>
      <if test="userPhotoAlbumId != null" >
        #{userPhotoAlbumId,jdbcType=INTEGER},
      </if>
      <if test="sourceImgPath != null" >
        #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="listImgPath != null" >
        #{listImgPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.flym.carlis.persistence.domain.UserPhotoAlbumImages" >
    update user_photo_album_images
    <set >
      <if test="userPhotoAlbumId != null" >
        user_photo_album_id = #{userPhotoAlbumId,jdbcType=INTEGER},
      </if>
      <if test="sourceImgPath != null" >
        source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="listImgPath != null" >
        list_img_path = #{listImgPath,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null" >
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedOn != null" >
        modified_on = #{modifiedOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_photo_album_images_id = #{userPhotoAlbumImagesId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.flym.carlis.persistence.domain.UserPhotoAlbumImages" >
    update user_photo_album_images
    set user_photo_album_id = #{userPhotoAlbumId,jdbcType=INTEGER},
      source_img_path = #{sourceImgPath,jdbcType=VARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      list_img_path = #{listImgPath,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      modified_on = #{modifiedOn,jdbcType=TIMESTAMP}
    where user_photo_album_images_id = #{userPhotoAlbumImagesId,jdbcType=BIGINT}
  </update>
</mapper>