<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.flym.carlis.persistence.mapper.CategoryMapper">
	<resultMap type="xyz.flym.carlis.persistence.domain.Category" id="categoryMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="memo" property="memo" />
	</resultMap>
	
	<sql id="selectAllCategoryColumns">
		<![CDATA[
			select id,
			       name,
			       memo
			  from categories
	  	]]>
	</sql>
	
	<select id="findAllCategories" resultMap="categoryMap">
		<include refid="selectAllCategoryColumns"></include>
	</select>
	
	<select id="findCategoryById" resultMap="categoryMap">
		<include refid="selectAllCategoryColumns"></include>
		<![CDATA[
			where id = #{id}
		]]>
	</select>
	
	<select id="findCategoryByName" resultMap="categoryMap">
		<include refid="selectAllCategoryColumns"></include>
		<![CDATA[
			where name = #{name}
		]]>
	</select>

	<insert id="save" parameterType="xyz.flym.carlis.persistence.domain.Category" statementType="PREPARED">
		<![CDATA[
		insert into categories
		  (name,
		   memo)
		values
		  (#{name},
		   #{memo})
		]]>
	</insert>
	
	<update id="update" parameterType="xyz.flym.carlis.persistence.domain.Category" statementType="PREPARED">
		<![CDATA[
			update categories set name = #{name}, memo = #{memo} where id = #{id}
		]]>
	</update>
	
	<delete id="delete">
		<![CDATA[
			delete from categories where id = #{id}
		]]>
	</delete>
	
</mapper>