<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.flym.carlis.persistence.mapper.MessageMapper">
	<resultMap type="Message" id="messageMap">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="messager" property="messager" />
		<result column="tel" property="tel" />
		<result column="cell" property="cell" />
		<result column="email" property="email" />
		<result column="date" property="date" />
		<result column="read" property="read" />
	</resultMap>
	
	<sql id="selectAllMessageColumns">
		<![CDATA[
			select id,
			       content,
			       messager,
			       tel,
			       cell,
			       email,
			       `date`,
			       `read`
			  from messages 
	  	]]>
	</sql>
	<sql id="orderByRead">
		<![CDATA[
			order by `date` desc, `read` desc
		]]>
	</sql>
	
	<select id="findAllMessages" resultMap="messageMap">
		<include refid="selectAllMessageColumns"></include>
		<include refid="orderByRead"></include>
	</select>
	
	
	<select id="findMessages" resultMap="messageMap">
		<include refid="selectAllMessageColumns"></include>
		<![CDATA[
			
		]]>
	</select>

	<insert id="saveMessage" parameterType="Message" statementType="PREPARED">
		<![CDATA[
		insert into messages
		  (content,
		   messager,
		   tel,
		   cell,
		   email)
		values
		  (#{content},
		   #{messager},
		   #{tel},
		   #{cell},
		   #{email})
		]]>
	</insert>
	
	<update id="update" parameterType="Message" statementType="PREPARED">
		<![CDATA[
			update messages set read = #{read} where id = #{id}
		]]>
	</update>
	
</mapper>