<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.flym.carlis.persistence.mapper.ProductMapper">
	<resultMap type="Product" id="productMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="parameters" property="parameters" />
		<result column="memo" property="memo" />
		<result column="cover" property="cover" />
		<association property="category" javaType="Category">
			<id property="id" column="category_id"/>
			<id property="name" column="category_name"/>
		</association>
		<collection property="uploads" ofType="Upload">
    		<id property="productId" column="product_id"/>
    		<result property="id" column="file_id"/>
    		<result property="fileName" column="file_name"/>
    		<result property="originalFileName" column="original_file_name"/>
		</collection>
	</resultMap>
	
	<sql id="selectAllProductColumns">
		<![CDATA[
			select id,
			       name,
			       category_id,
			       description,
			       parameters,
			       memo,
			       cover
			  from products 
	  	]]>
	</sql>
	
	<sql id="productColumns">
		<![CDATA[
			select a.id,
			       a.name,
			       a.category_id,
			       b.name as category_name,
			       a.description,
			       a.parameters,
			       a.memo,
			       a.cover,
			       c.id as file_id,
			       c.file_name,
			       c.original_file_name
			  from products a
			  left join categories b
			    on a.category_id = b.id
			  left join upload c
			    on a.id = c.product_id 
		]]>
	</sql>
	
	<select id="findAllProducts" resultMap="productMap">
		<include refid="productColumns"></include>
	</select>
	
	<select id="findProductById" resultMap="productMap">
		<include refid="productColumns"></include>
		<![CDATA[
			 where a.id = #{id}
		]]>
	</select>
	
	<select id="findProductsByCategoryId" resultMap="productMap">
		<include refid="productColumns"></include>
		<if test="categoryId != 0">
			 where a.category_id = #{categoryId}
		</if>
	</select>
	
	<select id="findProductsByParams" parameterType="Product" resultMap="productMap">
		<include refid="productColumns"></include>
		<![CDATA[
			where 1 = 1
		]]>
		<if test="product!=null">
			<if test="product.category!=null">
				 and a.category_id = #{category.id}
			</if>
			<if test="product.core != null">
				 and a.core = #{product.core,jdbcType=CHAR,javaType=Boolean}
			</if>
			<if test="product.hot != null">
				 and a.hot = #{product.hot,jdbcType=CHAR,javaType=Boolean}
			</if>
		</if>
	</select>
	
	<select id="findProductsByParamsWithLimit" resultMap="productMap">
		<include refid="productColumns"></include>
		<![CDATA[
			where 1 = 1
		]]>
		<if test="product!=null">
			<if test="product.category!=null">
				 and a.category_id = #{category.id}
			</if>
			<if test="product.core != null">
				 and a.core = #{product.core,jdbcType=CHAR,javaType=Boolean}
			</if>
			<if test="product.hot != null">
				 and a.hot = #{product.hot,jdbcType=CHAR,javaType=Boolean}
			</if>
		</if>
		limit 0, #{limit}
	</select>
	
	<select id="findProductByFullName" resultMap="productMap">
		<include refid="selectAllProductColumns"></include>
		<![CDATA[
			where name = #{name}
		]]>
	</select>
	
	<insert id="saveProduct" parameterType="Product" statementType="PREPARED">
		<![CDATA[
			insert products
			  (name, category_id, description, parameters, memo)
			values
			  (#{name}, #{category.id}, #{description}, #{parameters}, #{memo})
		]]>
	</insert>
	
	<update id="updateProduct" parameterType="Product" statementType="PREPARED">
		<![CDATA[
			update products
			   set name = #{name}, category_id = #{category.id}, description = #{description}, parameters = #{parameters}, memo = #{memo}
			 where id = #{id}
		]]>
	</update>
	
	<update id="setProductCover" statementType="PREPARED">
		<![CDATA[
			update products
			   set cover = #{cover}
			 where id = #{id}
		]]>
	</update>
	
	<delete id="deleteProduct" parameterType="int">
		<![CDATA[
			delete from products where id = #{id}
		]]>
	</delete>
	
</mapper>