<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.flym.carlis.persistence.mapper.SettingMapper">
	<resultMap type="Setting" id="settingMap">
		<id column="id" property="id" />
		<result column="logo" property="logo" />
		<result column="icon" property="icon" />
		<result column="wechat" property="wechat" />
		<result column="banner_num" property="bannerNum" />
		<result column="process_num" property="processNum" />
		<result column="qq" property="qq" />
	</resultMap>
	
	<sql id="selectAllSettingColumns">
		<![CDATA[
			select id,
			       logo,
			       icon,
			       wechat,
			       banner_num,
			       process_num,
			       qq
			  from settings 
	  	]]>
	</sql>

	<select id="find" resultMap="settingMap">
		<include refid="selectAllSettingColumns"></include>
	</select>
	
	<update id="update" parameterType="Setting" statementType="PREPARED">
		<![CDATA[
			update settings set logo = #{logo}, icon = #{icon}, wechat = #{wechat}, banner_num = #{bannerNum}, process_num = #{processNum}, qq = #{qq} where id = #{id}
		]]>
	</update>
	
	<insert id="save" parameterType="Setting" statementType="PREPARED">
		<![CDATA[
			insert into settings (logo, icon, wechat, banner_num, process_num, qq) values (#{logo}, #{icon}, #{wechat}, #{bannerNum}, #{processNum}, #{qq})
		]]>
	</insert>
	
</mapper>