<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.flym.carlis.persistence.mapper.UploadMapper">
	<resultMap type="Upload" id="uploadMap">
		<id column="id" property="id" />
		<result column="product_id" property="productId" />
		<result column="file_name" property="fileName" />
		<result column="original_file_name" property="originalFileName" />
	</resultMap>
	
	<sql id="selectAllUploadColumns">
		<![CDATA[
			select id,
			       product_id,
			       file_name,
			       original_file_name
			  from upload 
	  	]]>
	</sql>
	
	<select id="findUploadById" resultMap="uploadMap">
		<include refid="selectAllUploadColumns"></include>
		<![CDATA[
			where id = #{id}
		]]>
	</select>
	
	<insert id="saveUpload" parameterType="Upload" statementType="PREPARED">
		<![CDATA[
			insert into upload
			  (product_id, file_name, original_file_name)
			values
			  (#{productId}, #{fileName}, #{originalFileName})
		]]>
	</insert>
	
	<delete id="deleteByProductId" parameterType="int">
		<![CDATA[
			delete from upload where product_id = #{productId}
		]]>
	</delete>
	
	<delete id="deleteById" parameterType="int">
		<![CDATA[
			delete from upload where id = #{id}
		]]>
	</delete>
	
</mapper>