@charset "utf-8";

.c-container {
	margin-bottom: 10px;
}

.c-container h3 {
	height: 50px;
	line-height: 50px;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.c-container h3 span {
	font-size: 18px;
	font-family: '微软雅黑';
	color: #4e4e4e;
	margin-left: 20px;
	font-weight: normal;
}

.c-container h3 b {
	font-size: 16px;
	color: #bfbfbf;
	font-weight: normal;
	font-family: '微软雅黑';
	margin-left: 6px;
}

.c-container .contact {
	margin: 25px;
	border-bottom: 1px solid #ddd;
}

.c-container .contact div {
	margin: 5px;
	font: 16px/1.8 'Microsoft YaHei', Tahoma, Verdana, 'Simsun'
}

.c-container .contact .map {
	 width: 990px;
}
