@charset "utf-8";
html,body{
	font: 400 20px '微软雅黑',Helvetica,Arial,sans-serif;
    height: 100%;
    width: 100%;
    background: #fff;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote,span {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}
img{width:100%;height:100%;  vertical-align: top;}
a {
    cursor: pointer;
	text-decoration:none;
	display:block;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

input, button, textarea,
select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
ol, ul, li {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
}

.cutWord {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
